@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width .3s ease-in-out, border-radius .3s ease-in-out;
}

.btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform .3s ease-in-out, border-radius .3s ease-in-out;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    border-radius: 10px 0 0 10px;
}

.search.active .btn {
    transform: translateX(198px);
    border-radius: 0 10px 10px 0;
}